body {
  background-color: #96ffff;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 95vw;
  margin: 50px auto 50px auto;
}
.accountDropdownDiv select {
  height: 75px;
  width: 300px;
  text-align: center;
  font-size: 1.5em;
  background-color: #c8eff9;
}
.rightHeader {
  display: flex;
  align-items: center;
  height: 75px;
}
.balanceDiv {
  background-color: #f27d42;
  height: 100%;
  width: 200px;
  margin-left: 30px;
}

.balanceDiv h4, .balanceDiv p  {
  margin: 0;
  padding: 3px;
  text-align: center;
  font-weight: normal;
  
}
.transactionFormDiv {
  margin-left: auto;
  margin-right: auto;
  background-color: #55bdca;
  height: 100px;
  width: 95vw;
  border: 1px solid black;
}
.transactionFormDiv form {
  display: flex;
  justify-content: center;
} 
.transactionFormDiv form label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;

}
.transactionFormDiv form label input {
  margin-top: 10px;
  height: 40px;
  width: 162px;
}

#payee {
  width: 288px;
}
#submit {
  width: 40px;
}
